
* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

.navContainer {
    display: flex;
    flex-direction: row;
    
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    
}

li {
    margin: 20px;
    padding-left: 10px;
    font-size: 20px;
    
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    
}

.quizContainer {
    display: block;
    margin: auto;
    height: 500px;
    width: 700px;
    border: 5px;
    border-style: dashed;
    border-radius: 8%;
    background-color: aqua;
}

#questionContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#question {
    font-size: 30px;
    
}

#startBtn {
    font-size: 50px;
}

#Btn {
    font-size: 20px;
}
